<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good)</span></div>

# What to expect in this chapter

# 1 There is more to if

In [6]:
name = 'Batman'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

Hello Batman!

In [7]:
name = "batman"
universe = 'marvel'

if name == 'batman':
    if universe =='dc':
        print('batman is the best of dc')
    else:
        print('Hello batman')

Hello batman

# 2 Asking questions

In [2]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit']
vegetables = ['celery', 'potato', 'broccoli', 'kale']

In [3]:
'apple' in fruits and 'celery' in vegetables

True

In [4]:
'celery' not in fruits

True

In [5]:
for fruit in fruits:
    if 'e' in fruit:
        print(fruit)

apple
pineapple

## 2.1 Asking Math questions

In [8]:
x=3
x > 5 and x < 15

False

In [9]:
5 < x < 15

False

In [10]:
(x > 5) and (x < 15)

False

In [11]:
x = int(1.234)
print(x, type(x))

1 <class 'int'>

In [12]:
x = 1.234
print(x, type(x))

1.234 <class 'float'>

x is a number

In [13]:
x = str(1.234)
print(x, type(x))

1.234 <class 'str'>

x is a english word that looks like a number

length of a string is not the same as the length of an integer

In [ ]:
x = float(1.234)
print(x, type(x))

In [14]:
x = complex(1.234)
print(x, type(x))

(1.234+0j) <class 'complex'>

# 3 Python stores information in different formats or types

# 4 Never compare floats directly

In [15]:
a = 0.1
a3 = 0.3
a * 3 == a3

False

In [16]:
f'{0.3:.17f}'

'0.29999999999999999'

## 4.1 The Problem

In [21]:
a = .1

a3 = .3

ax3 == a3

NameError: name 'ax3' is not defined

In [22]:
print(f'(a=:.17f) and a3=:.19f)')

(a=:.17f) and a3=:.19f)

In [23]:
(3+a a3) < 1E - 10

SyntaxError: invalid decimal literal (155432610.py, line 1)

## 4.2 A solution

In [17]:
eps = 1E-10
abs(a * 3 - a3) < eps

True

In [18]:
np.isclose(a * 3, a3)

NameError: name 'np' is not defined

In [19]:
import numpy

ModuleNotFoundError: No module named 'numpy'

In [24]:
text = 'test' 
f'{text}'

'test'

In [25]:
x = 40
y = x +2 
y

42

In [26]:
x= 4000
x = x+2
x

4002

# 5 Combining English and variables

## 5.1 Structure of f-strings

In [27]:
x, y= 42, 24
print(f'{x=} and {y=}')

x=42 and y=24

In [28]:
x, y= 42/5, 24/5
print(f'{x=:.3f} and {y=:.6f}')

x=8.400 and y=4.800000

In [1]:
name = "Batman"
print(f"Hello {name}!")

Hello Batman!

In [2]:
name = "Batman"
print(f"Hello {name.upper()}!")

Hello BATMAN!

In [3]:
x = 10
print(f"The value of {x} squared is {x**2}!")

The value of 10 squared is 100!

# 6 Escape sequences

## 6.1 Self-documenting f-strings

In [29]:
x = 40
y = x + 2

In [30]:
y = 40
y = y + 2
print(y)

42

In [31]:
x = y = 10

# 7 Computers read = from Right to Left!

In [32]:
y = 40
y = y + 2
y
y = 40
y += 2    # Same as y = y + 2
y

42

# 8 Shorter and Cleaner Code

In [33]:
YEARS = 1

student_age = 27*YEARS

# 9 Python can be a prima-donna.

In [ ]:
print

# 10 Best Practices for Scientific Computing

In [4]:
try:
    score = float(input("Enter the student's score: "))

    if score < 0 or score > 100:
        print("Error: Please enter a score between 0 and 100.")
    elif score >= 70:
        print("The student's letter grade is: A")
    elif score >= 50:
        print("The student's letter grade is: B")
    elif score >= 35:
        print("The student's letter grade is: C")
    else:
        print("The student's letter grade is: Fail")

except ValueError:
    print("Error: Please enter a valid numerical value.")

Error: Please enter a valid numerical value.

# 11 Looking for help

## References

## Footnotes

In [2]:
x = '123'
y = 123
z = 123.0

In [3]:
print(x*3)
print(y*3)
print(z*3)

123123123
369
369.0

In [4]:
print(int(z))

123

In [5]:
print(z)

123.0