<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Storing Data (Need)</span></div>

# What to expect in this chapter

# 1 Lists, Arrays & Dictionaries

In [ ]:
import numpy as np

## 1.1 Let’s compare

In [1]:
py_super_names = ["Black Widow", "Iron Man", "Doctor Strange"]
py_real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]

In [4]:
import numpy as np

np_super_names = np.array(["Black Widow", "Iron Man", "Doctor Strange"])
np_real_names = np.array(["Natasha Romanoff", "Tony Stark", "Stephen Strange"])

ModuleNotFoundError: No module named 'numpy'

In [3]:
superhero_info = {
    "Natasha Romanoff": "Black Widow",
    "Tony Stark": "Iron Man",
    "Stephen Strange": "Doctor Strange"
}

## 1.2 Accessing data from a list (or array)

certain name --> index --> put a number
python starts from zero
so the name is 0,1,2 --> black widow, iron man doctor strange

In [20]:
py_real_names[2]

'Stephen Strange'

In [21]:
py_real_names[1]

'Tony Stark'

In [22]:
py_super_names[0]

'Black Widow'

In [23]:
py_super_names[2]    # Forward indexing

'Doctor Strange'

In [24]:
                     # We need to know the size 
                     # beforehand for this to work.
py_super_names[-1]   # Reverse indexing

'Doctor Strange'

In [25]:
py_super_names[-2]

'Iron Man'

the negative index allows you to find the last element no matter how big your list is

## 1.3 Accessing data from a dictionary

In [27]:
superhero_info.keys()

dict_keys(['Natasha Romanoff', 'Tony Stark', 'Stephen Strange'])

In [35]:
superhero_info['Natasha Romanoff']

'Black Widow'

In [32]:
superhero_info = {
    "Natasha Romanoff": "Black Widow",
    "Tony Stark": "Iron Man",
    "Stephen Strange": "Doctor Strange"
}

to turn the keys into a separate lists

In [33]:
superhero_info["Natasha Romanoff"]

'Black Widow'

## 1.4 Higher dimensional lists

In [36]:
py_superhero_info = [['Natasha Romanoff', 'Black Widow'],
                     ['Tony Stark', 'Iron Man'],
                     ['Stephen Strange', 'Doctor Strange']]

In [38]:
len(py_list_2d)

10

# 2 Lists vs. Arrays

## 2.1 Size

In [37]:
py_list_2d = [[1, "A"], [2, "B"], [3, "C"], [4, "D"],
              [5, "E"], [6, "F"], [7, "G"], [8, "H"],
              [9, "I"], [10, "J"]]

np_array_2d = np.array(py_list_2d)      # Reusing the Python list 
                                        # to create a NEW
                                        # NumPy array

NameError: name 'np' is not defined

In [39]:
len(py_list_2d)
len(np_array_2d)
np_array_2d.shape

NameError: name 'np_array_2d' is not defined

## 2.2 Arrays are fussy about type

In [40]:
py_list = [1, 1.5, 'A']
np_array = np.array(py_list)

NameError: name 'np' is not defined

In [41]:
py_list
np_array

NameError: name 'np_array' is not defined

## 2.3 Adding a number

In [42]:
py_list = [1, 2, 3, 4, 5]
np_array = np.array(py_list)         # Reusing the Python list
                                     # to create a NEW
                                     # NumPy array

NameError: name 'np' is not defined

In [43]:
np_array + 10

NameError: name 'np_array' is not defined

In [44]:
py_list + (100)

TypeError: can only concatenate list (not "int") to list

## 2.4 Adding another list

In [45]:
py_list_1 = [1, 2, 3, 4, 5]
py_list_2 = [10, 20, 30, 40, 50]

np_array_1 = np.array(py_list_1)
np_array_2 = np.array(py_list_2)

NameError: name 'np' is not defined

1 to the power of 10, 2 to the power of 20 and so on

5 to the power of 50 is such a big number, that it overflows, goes around and shows a negative number

In [46]:
py_list_1 + py_list_2
np_array_1 + np_array_2

NameError: name 'np_array_1' is not defined

## 2.5 Multiplying by a Number

## 2.6 Squaring

## 2.7 Asking questions

very useful for numpy

In [47]:
py_list > 2

TypeError: '>' not supported between instances of 'list' and 'int'

In [48]:
np_array > 2

NameError: name 'np_array' is not defined

In [50]:
mask = np_array > 2
mask

NameError: name 'np_array' is not defined

py_list (3:6) means element 3,4 and 5 excluding 6
py_list (::-1) --> the list goes backwards

## 2.8 Mathematics

## Footnotes